{% extends 'base.html.twig' %}

{% block section %}

		
		
        <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12">
		<section class="container-fluid" >
			<h4><a href="{{ path('listeUser') }}">Liste des utilisateurs</a> > Username: "{{ user.username}}"</h4>			
        	<div class="row justifiy-content-center">
			<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
			<h1 class="font-weight-bold font-italic text-center">Profil de {{ user.username }}</h1>
			<aside class="container-fluid">
				<div class="row">
					<div class="col table-responsive">
						<table class="table table-secondary table-striped table-bordered table-hover table-sm">
							<thead>
								<tr>
									<th></th>
									<th>Informations</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Id User</td>
									<td>{{user.id }}</td>
									<td><a href="{{path('edit_user',{id: user.id})}}" id="lienMenuAccueil">Editer</a></td>
								</tr>
								<tr>
									<td>Email</td>
									<td>{{user.email}}</td>
									<td><a href="{{path('edit_user',{id: user.id})}}" id="lienMenuAccueil">Editer</a></td>
								</tr>
								<tr>
									<td>Statut</td>
									<td>{{user.statut }}</td>
									<td><a href="{{path('edit_user',{id: user.id})}}" id="lienMenuAccueil">Editer</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</aside>
			
			</div>
			<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
			</div>
		</div>
		</section>
		</div>
		
{% endblock %}




