{% extends 'base.html.twig' %}

{% block section %}

		<div class="col-xl-10 col-lg-10 col-md-9 col-sm-12">
		
		<section class="container-fluid" id="sectionActivite">
        <div class="row justifiy-content-center">
			<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
			<h1 class="font-weight-bold font-italic text-center">Notre biblioth&egrave;que de jeux de r&ocirc;les</h1>
			<aside class="container-fluid my-3" id="asideJdr">
			<div class="row justify-content-center">
				<h1 class="col-12 text-left my-4">Les diff&eacute;rents jeux de r&ocirc;les propos&eacute;s :</h1>
				 	<div class="col-12">
				 	<div class="row">
					{% for jeu in listeJeu %}
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mx-0 my-2" id="accordion">
							<div class="card-deck col-12 mx-0">
								<div class="card bg-light border-dark">
								<!-- <img src="/lalegionduphenix/img/jdr/anima.jpg" id="imgJdr"/>-->
									<img class="card-img-top" src="{{ absolute_url(asset('img/jdr/' ~ jeu.getImgJeu()))}}" alt='{{ jeu.getTitre()}}' id="imgJdr"/>
									<div class="card-header border border-light rounded" id="boutonDeroulantCarte">
										<h5 class="mb-0 text-center">
											<button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ jeu.getId() }}" aria-expanded="false" aria-controles="collapse{{ jeu.getId() }}">
												{{jeu.getTitre()}}
											</button>
										</h5>
									</div>
									<div id="collapse{{ jeu.getId() }}" class="collapse" aria-labelledby="boutonDeroulantCarte" data-parent="#accordion">			
										<div class="card-body" id="paragrapheDescription">
											<p class="card-text">{{ jeu.getDescription()}}</p>
										</div>
									</div>	
								</div>
							</div>	
						</div>
					
					{% endfor %}
					
					
					</div>
					</div>
				</div>			
			</aside>
			<aside class="container-fluid my-3" id="asideJdr">
			<div class="row justify-content-center">
				<h1 class="col-12 text-left my-4">Les diff&eacute;rents &eacute;v&egrave;nements auquels nous participons :</h1>
				 	<div class="col-12">
				 	<div class="row">
					{% for eventPart in listeEventPart %}
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mx-0 my-2" id="accordion">
							<div class="card-deck col-12 mx-0">
								<div class="card bg-light border-dark">
								<!-- <img src="/lalegionduphenix/img/jdr/anima.jpg" id="imgJdr"/>-->
									<img class="card-img-top" src="{{ absolute_url(asset('img/evenementParticiper/' ~ eventPart.getImgEventPart()))}}" alt='{{ eventPart.getTitre()}}' id="imgJdr"/>
									<div class="card-header border border-light rounded" id="boutonDeroulantCarte">
										<h5 class="mb-0 text-center">
											<button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ eventPart.getId() }}" aria-expanded="false" aria-controles="collapse{{ eventPart.getId() }}">
												{{eventPart.getTitre()}}
											</button>
										</h5>
									</div>
									<div id="collapse{{ eventPart.getId() }}" class="collapse" aria-labelledby="boutonDeroulantCarte" data-parent="#accordion">			
										<div class="card-body" id="paragrapheDescription">
											<p class="card-text">{{ eventPart.getDescription()}}</p>
										</div>
									</div>	
								</div>
							</div>	
						</div>
					
					{% endfor %}
					
					
					</div>
					</div>
				</div>			
			</aside>
			</div>
			<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
			</div>
		</div>
		</section>
		</div>
{% endblock %}




