{% extends 'base.html.twig' %}

{% block section %}

		
		<div class="col-xl-10 col-lg-10 col-md-9 col-sm-12">
		<section class="container-fluid" id="sectionContact">
		     
        <div class="row justifiy-content-center">
			<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
			<h1 class="font-weight-bold font-italic text-center">Nous Contacter</h1>   
			<div class="row">
				<div class="col-12">
			<aside class="container-fluid" id="coordonnee">
				{% for lieu in tableauLieu %}
				<div class="row justifiy-content-center my-3">
					<div class="col-12">
						<div class="row" id="paragrapheDescriptionContact">
						<h1 class="col-12 mt-2 mb-3">*<a href="{{ lieu.urlSite }}">{{ lieu.nom }}</a>:</h1>
							<div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 text-center">
								<p class="mb-0">{{ lieu.adresse }}</p>
								<p class="mb-0">{{ lieu.codePostal }} - {{ lieu.ville }}</p>
								<p class="mb-0">Horaires d'ouverture: {{ lieu.heureDebut }}h-{{ lieu.heureFin }}h</p>
								<p class="mb-0">Contact t&eacute;l&eacute;phone: {{ lieu.telephone }}</p>
								<p class="mb-0">Pour acceder &agrave; notre forum, cliquez <a href="http://lalegionduphenix.forumprod.com">ici</a></p>					
							</div>
							<div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12">
								<a href="{{ lieu.urlSite }}"><img class="img-fluid rounded" src="{{ absolute_url(asset("/img/lieu/" ~ lieu.imgLieu)) }}" id="Mpd"/></a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</aside>
			</div>			
			<div class="col-12">
			<aside class="container-fluid " id="carteGoogle">
				<div class="map-responsive" id="affichageCarte">
					
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2047.0223731116482!2d-1.514303420961198!3d43.48299792972747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5140052eef8f15%3A0xc2e89d48d574293e!2s6+Rue+Albert+le+Barillier%2C+64600+Anglet!5e0!3m2!1sfr!2sfr!4v1534453047568" width="800" height="600" frameborder="0" style="border:0" id="carteIframe" allowfullscreen></iframe>				
					
				</div>
			</aside>
			</div>
			<div class="col-12 my-4">
			<aside class="container-fluid" id="asideFormulaireContact">
				<div class="row justify-content-center" id="formulaireContact">
    				<form role="form" action="gestionPHP/mail.php" method="POST">
						<div class="form-group">
							<label class="sr-only" for="nom">Nom</label>
							<input type="text" class="form-control" placeholder="Nom" name="nom" id="nom"/>
						</div>
						<div class="form-group">
							<label class="sr-only" for="mail">Mail</label>
							<input type="email" class="form-control" placeholder="Email" name="mail" id="email"/>
						</div>
						<div class="form-group">
							<label class="sr-only" for="telephone">Tel</label>
							<input type="tel"  class="form-control" placeholder="Telephone" name="telephone" id="tel"/>
						</div>
						<div class="form-group">
							<label class="sr-only" for="sujet">Sujet</label>
							<input type="text" class="form-control" placeholder="Votre sujet" name="sujet" id="sujet"/>
						</div>
						<div class="form-group">
							<label class="sr-only" for="message" >Message</label>
							<textarea placeholder="Votre message" class="form-control" name="message" id="msg" rows="10" cols="50"></textarea> 
						</div>
						<div class="form-group">
							<input id="boutonEnvoyer" class="btn btn-light" type="submit" value="Envoyer" name="Envoyer"/>
						</div>
					</form>
				</div>
			</aside>
			</div>
			</div>
			</div>
			<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
			</div>
		</div>
		</section>
		</div>
{% endblock %}




