{% extends 'base.html.twig' %}

{% block section %}

		
		
        <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12">
		<section class="container-fluid" >			
        	<div class="row justifiy-content-center">
			<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
			<h1 class="font-weight-bold font-italic text-center">Gestion des &Eacute;v&egrave;nements auxquels nous participons</h1>
			<aside class="container-fluid " >
				<!-- mettre un formulaire de modification ici en selectionnant l'id souhaité et les modification souhaitée -->
				<div class="row justify-content-center">
					<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-5">
						{{ form_start(formNewEventPart,{'attr':{'novalidate':'novalidate','role':'form'}})}}
						<div class="form-row my-2 mx-0">
							<div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-0">
								<div class="row mx-0">
							        {{ form_widget(formNewEventPart.titre) }}
							    </div>
							</div>
							<div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-0">
								<div class="row mx-0">
						            {{ form_widget(formNewEventPart.description) }}
						    	</div>
							</div>
							<div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-0">
								<div class="row mx-0">
						            {{ form_widget(formNewEventPart.image) }}
						        </div>
						    </div>
						</div>
												
							    {{ form_widget(formNewEventPart.publier) }}
							
						
						{{ form_end(formNewEventPart) }}
					</div>
					<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-5">
						{{ form_start(formModifEventPart,{'attr':{'novalidate':'novalidate','role':'form'}})}}
						<div class="form-row my-2 mx-0">
							<div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-0">
								<div class="row mx-0">
							        {{ form_widget(formModifEventPart.id) }}
							    </div>
							</div>
							<div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-0">
								<div class="row mx-0">
							        {{ form_widget(formModifEventPart.titre) }}
							    </div>
							</div>
							<div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-0">
								<div class="row mx-0">
						            {{ form_widget(formModifEventPart.description) }}
						    	</div>
							</div>
							<div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-0">
								<div class="row mx-0">
						            {{ form_widget(formModifEventPart.image) }}
						        </div>
						    </div>
						</div>
												
							    {{ form_widget(formModifEventPart.modifier) }}
							
						
						{{ form_end(formModifEventPart) }}
					</div>
					<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 text-center mb-5">
						{{ form_start(formSupEventPart,{'attr':{'novalidate':'novalidate','role':'form'}})}}
						<div class="form-row my-2 mx-0">
							<div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-0">
								<div class="row mx-0 justify-content-center">
						            {{ form_widget(formSupEventPart.id) }}
						        </div>
						    </div>
						</div>
							
						    {{ form_widget(formSupEventPart.supprimer) }}
						
						{{ form_end(formSupEventPart) }}
					</div>
				</div>
			</aside>	
			<aside class="container-fluid">
				<div class="row">
					<div class="col table-responsive">
						<table class="table table-secondary table-striped table-bordered table-hover table-sm">
							<thead>
								<tr>
									<th>Id_Event</th>
									<th>titre</th>									
									<th>Description</th>
									<th>Image</th>
								</tr>
							</thead>
							<tbody>
							{#{  dump(listeUser) }#}
							{% for eventPart in listeEventPart %}
								{#{  dump(utilisateur) }#}
								
								<tr>
									<td>{{eventPart.getId() }}</td>
									<td>{{eventPart.getTitre() }}</td>
									<td>{{eventPart.getDescription()}}</td>
									<td><img class="img-fluid rounded" src='{{ absolute_url(asset('img/evenementParticiper/' ~ eventPart.getImgEventPart())) }}' alt='{{ eventPart.getTitre() }}'/></td>																	
								</tr>
							{% endfor %}
								
							</tbody>
						</table>
					</div>
				</div>
			</aside>
			
			</div>
			<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
			</div>
		</div>
		</section>
		</div>
		
{% endblock %}




