{% block menu %}
       
       
       	<div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 mb-auto">
       		<nav class="navbar navbar-expand-lg mt-2 mb-2 ml-2 mr-2 justify-content-center " >
        		<ul class="navbar-nav flex-column justify-content-center text-center"id="tableMenu">
			        <div class="row align-items-center justify-content-center text-center">
			        {% if is_granted('ROLE_SUPER_ADMIN') %}
			        	<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 btn btn-light btn-outline-dark"><a class="nav-link" href={{"/admin/accueilAdmin"}} id="lienMenuAccueil">Accueil Admin</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 btn btn-light btn-outline-dark"><a class="nav-link" href={{"/admin/gestionArticle"}} id="lienMenuPresentation">Gestion des pages</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 btn btn-light btn-outline-dark"><a class="nav-link" href={{"/admin/gestionActivite"}} id="lienMenuTarif">Gestion des activit&eacute;s</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 btn btn-light btn-outline-dark"><a class="nav-link" href={{"/admin/gestionEvenementParticiper"}} id="lienMenuTarif">Gestion des &eacute;v&egrave;nements Particip&eacute;s</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 btn btn-light btn-outline-dark"><a class="nav-link" href={{"/admin/listeMembre"}} id="lienMenuContact">Utilisateurs</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 btn btn-light btn-outline-dark"><a class="nav-link" href={{"/admin/boiteMail"}} id="lienMenuContact">Messages</a></li>
			        {% elseif is_granted('ROLE_ADMIN') %}
			       		<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 btn btn-light btn-outline-dark"><a class="nav-link" href={{"/admin/accueilAdmin"}} id="lienMenuAccueil">Accueil Admin</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 btn btn-light btn-outline-dark"><a class="nav-link" href={{"/admin/gestionArticle"}} id="lienMenuPresentation">Gestion des pages</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 btn btn-light btn-outline-dark"><a class="nav-link" href={{"/admin/gestionActivite"}} id="lienMenuTarif">Gestion des activit&eacute;s</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 btn btn-light btn-outline-dark"><a class="nav-link" href={{"/admin/gestionEvenementParticiper"}} id="lienMenuTarif">Gestion des &eacute;v&egrave;nements Particip&eacute;s</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 btn btn-light btn-outline-dark"><a class="nav-link" href={{"/admin/boiteMail"}} id="lienMenuContact">Messages</a></li>
			        {% elseif is_granted('ROLE_USER') %}
			        	<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 py-xl-5 py-lg-4 py-md-4 py-3" id="ligneMenu"><a class="nav-link" href={{"/accueil"}} id="lienMenuAccueil">Accueil</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 py-xl-5 py-lg-4 py-md-4 py-3" id="ligneMenu"><a class="nav-link" href={{"/activite"}} id="lienMenuPresentation">Nos activit&eacute;s</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 py-xl-5 py-lg-4 py-md-4 py-3" id="ligneMenu"><a class="nav-link" href={{"/tarif"}} id="lienMenuTarif">Nos tarifs</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 py-xl-5 py-lg-4 py-md-4 py-3" id="ligneMenu"><a class="nav-link" href={{"/contact"}} id="lienMenuContact">Nous contacter</a></li>
			        {% else %}
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 py-xl-5 py-lg-4 py-md-4 py-3" id="ligneMenu"><a class="nav-link" href={{"/accueil"}} id="lienMenuAccueil">Accueil</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 py-xl-5 py-lg-4 py-md-4 py-3" id="ligneMenu"><a class="nav-link" href={{"/activite"}} id="lienMenuPresentation">Nos activit&eacute;s</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 py-xl-5 py-lg-4 py-md-4 py-3" id="ligneMenu"><a class="nav-link" href={{"/tarif"}} id="lienMenuTarif">Nos tarifs</a></li>
						<li class="nav-item col-xl-12 col-lg-12 col-md-12 col-sm-6 col-6 py-xl-5 py-lg-4 py-md-4 py-3" id="ligneMenu"><a class="nav-link" href={{"/contact"}} id="lienMenuContact">Nous contacter</a></li>
					{% endif %}
					</div>
				</ul>			
			</nav>
		</div>
		
{% endblock %}